@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif;
}

@layer base {
  :root {
    --background: 187.9 50% 95%;
    --foreground: 187.9 2.5% 7.5%;
    --card: 187.9 25% 95%;
    --card-foreground: 187.9 2.5% 12.5%;
    --popover: 187.9 50% 97.5%;
    --popover-foreground: 187.9 97.5% 5%;
    --primary: 187.9 27.4% 43.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 187.9 20% 80%;
    --secondary-foreground: 0 0% 0%;
    --muted: 225.9 20% 90%;
    --muted-foreground: 187.9 2.5% 37.5%;
    --accent: 225.9 20% 85%;
    --accent-foreground: 187.9 2.5% 12.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 187.9 2.5% 95%;
    --border: 187.9 25% 66%;
    --input: 187.9 25% 34%;
    --ring: 187.9 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 188, 50%, 90%;
    --sidebar-foreground: 188, 3%, 7%;
    --sidebar-primary: 188, 27%, 39%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 226, 20%, 81%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 188, 25%, 63%;
    --sidebar-ring: 178, 98%, 45%;
  }

  @layer components {
    .placeholder-albert::before {
      font-family: 'Albert Sans', sans-serif !important;
      color: #6b7280; /* Tailwind gray-500 */
    }
  }
  .dark {
    --background: 187.9 30% 7.5%;
    --foreground: 187.9 2.5% 95%;
    --card: 187.9 25% 5%;
    --card-foreground: 187.9 2.5% 95%;
    --popover: 187.9 30% 5%;
    --popover-foreground: 187.9 2.5% 95%;
    --primary: 187.9 27.4% 43.7%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 187.9 20% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225.9 20% 20%;
    --muted-foreground: 187.9 2.5% 62.5%;
    --accent: 225.9 20% 20%;
    --accent-foreground: 187.9 2.5% 92.5%;
    --destructive: 0 75% 40%;
    --destructive-foreground: 187.9 2.5% 95%;
    --border: 187.9 25% 34%;
    --input: 187.9 25% 34%;
    --ring: 187.9 88.7% 45.3%;
    --radius: 0.5rem;
    --sidebar-background: 188, 30%, 10%;
    --sidebar-foreground: 188, 3%, 100%;
    --sidebar-primary: 188, 27%, 35%;
    --sidebar-primary-foreground: 0, 0%, 0%;
    --sidebar-accent: 226, 20%, 17%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 188, 25%, 32%;
    --sidebar-ring: 178, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
